.screen {
  height: 100vh;
  width: 100%;
  background-image: url("/bg-space.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', monospace;
  color: #cccccc;
  text-align: center;
}
